body{
    text-align: center;
}
#textInput{
    padding: 10px;
    border: 2px solid goldenrod;
    border-radius: 5px;
}
#addtaskbtn{
    padding: 4px;
    border: 2px solid blue;
    border-radius: 5px;
}
#taskList li{
    padding: 10px;
    border-radius: 6px;
    text-align: left;
}